.contenedor .form .form-header .form-title {
  font-weight: normal;
  font-family: sans-serif;
  color: red;
  text-align: center;
  padding: 14px 0;
}

.contenedor .form .form-header .form-title span {
  color: whitesmoke;
}

.contenedor .form {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  width: 90%;
  max-width: 650px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 3px;
}

.contenedor .form .form-label {
  display: block;
  color: red;
  font-size: 16px;
  font-family: roboto;
  position: relative;
}

.contenedor .form .form-input, .form-textarea {
  background: rgba(0, 0, 0, 0.7);
  border: none;
  outline: none;
  border-bottom: 2px solid red;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 20px;
  font-size: 14px;
  color: whitesmoke;
  font-family: roboto;
}

.contenedor .form .form-textarea {
  resize: vertical;
  max-height: 150px;
  min-height: 50px;
}

.contenedor .form .btn-sumit {
  width: 100%;
  font-family: roboto;
  outline: none;
  background: red;
  font-size: 16px;
  border: none;
  color: #fff;
  padding: 15px 0;
  text-align: center;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.contenedor .form .btn-sumit:hover {
  background: #48817d;
}

.contenedor .form .btn-sumit:hover {
  -webkit-animation: pulsate 1s ease-in-out;
          animation: pulsate 1s ease-in-out;
}

.contenedor a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.contenedor a:hover {
  color: red;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-box-shadow: 0 0 25px red, 0 0 50px aquamarine;
            box-shadow: 0 0 25px red, 0 0 50px aquamarine;
  }
}

@keyframes pulsate {
  0% {
    -webkit-box-shadow: 0 0 25px red, 0 0 50px aquamarine;
            box-shadow: 0 0 25px red, 0 0 50px aquamarine;
  }
}

.copy {
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-title {
  padding: 30px;
  text-align: center;
  color: red;
}

.card {
  margin-top: 50px;
  height: 350px;
  background-color: #333;
  position: relative;
  overflow: hidden;
}

.card-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: .6;
  -webkit-transition: -webkit-transform .75s;
  transition: -webkit-transform .75s;
  transition: transform .75s;
  transition: transform .75s, -webkit-transform .75s;
}

.card-image:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.card-title {
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-size: 30px;
}

.volver {
  padding: 30px;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* //////////////// MENU //////////// */
.titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.menu ul li {
  position: relative;
  font-size: 18px;
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu ul li:hover {
  background: #e4405f;
  -webkit-box-shadow: 0 0 10px #e4405f, 0 0 40px #e4405f, 0 0 80px #e4405f;
          box-shadow: 0 0 10px #e4405f, 0 0 40px #e4405f, 0 0 80px #e4405f;
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  background: black;
  background: -webkit-gradient(linear, left top, right top, color-stop(9%, black), color-stop(37%, #5b0f22), color-stop(65%, #010506));
  background: linear-gradient(90deg, black 9%, #5b0f22 37%, #010506 65%);
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.navbar a:hover {
  color: whitesmoke;
}

.logo {
  margin-right: 15px;
  color: whitesmoke;
  text-shadow: 0 0 5px red;
  font-size: 20px;
}

.logo spam {
  color: red;
  font-size: 30px;
}

.list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.navbar .drop-down ul {
  list-style: none;
  display: block;
  position: fixed;
  right: 0;
  visibility: hidden;
  padding: 10px 30px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
}

.navbar .drop-down:hover > ul {
  opacity: 1;
  top: 61%;
  visibility: visible;
}

.navbar .drop-down ul > a {
  margin-top: 30px;
}

#toggler, .navbar label {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(https://images.pexels.com/photos/3053082/pexels-photo-3053082.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: no-repeat;
  color: whitesmoke;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

/*  ///////// INFO ////////////*/
.info {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-top: 100px;
  width: auto;
  height: auto;
}

.info iframe {
  padding-top: 10%;
  -webkit-box-sizing: 30px;
          box-sizing: 30px;
}

.volver a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.volver a:hover {
  color: red;
}

.ubicacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.waly {
  text-align: center;
  margin-top: 40px;
  color: red;
}

.jumbotron {
  background: black;
  background: -webkit-gradient(linear, left top, right top, from(80%), color-stop(98%, #010506));
  background: linear-gradient(90deg, 80%, #010506 98%);
  opacity: 0.8;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.btn-primary {
  width: 200px;
  position: relative;
  top: 40px;
  border-color: whitesmoke;
  background-color: red;
}

.btn-primary:hover {
  background-color: #6200ff;
}

.jumbotron h1 {
  margin-right: 15px;
  color: whitesmoke;
  text-shadow: 0 0 5px #6200ff;
  font-size: 40px;
}

.jumbotron h2 {
  margin-right: 15px;
  color: whitesmoke;
  text-shadow: 0 0 5px #6200ff;
  font-size: 30px;
}

.jumbotron h3 {
  margin-right: 15px;
  color: whitesmoke;
  text-shadow: 0 0 5px #6200ff;
  font-size: 30px;
}

.jumbotron h3 span {
  margin-right: 15px;
  color: whitesmoke;
  text-shadow: 0 0 5px #ff1100;
  font-size: 30px;
}

/* ======== FIN DE INFO =========== */
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  opacity: 0.9;
  background-color: black;
  margin-bottom: 2%;
}

.about .content {
  padding: 0 80px;
}

.about .content h3 {
  font-weight: 400;
  font-size: 34px;
  color: whitesmoke;
}

.about .content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.about .content p {
  font-size: 15px;
  color: whitesmoke;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li + li {
  margin-top: 15px;
}

.about .content ul li {
  position: relative;
  padding-left: 26px;
}

.about .content ul i {
  font-size: 20px;
  color: red;
  position: absolute;
  left: 0;
  top: 2px;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .video-box {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 400px;
  position: relative;
}

.about .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(red 50%, #ff3b3b66 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.about .play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
          transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.about .play-btn::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.about .play-btn:hover::after {
  border-left: 15px solid #6200ff;
  -webkit-transform: scale(20);
          transform: scale(20);
}

.about .play-btn:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
          transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

@media (max-width: 1024px) {
  .about .content, .about .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .about .content {
    padding-top: 30px;
  }
  .about .accordion-list {
    padding-bottom: 30px;
  }
}

@-webkit-keyframes pulsate-btn {
  0% {
    -webkit-transform: scale(0.6, 0.6);
            transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    -webkit-transform: scale(0.6, 0.6);
            transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 0;
  }
}

@media screen and (max-width: 600px) {
  .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
  }
  .navbar label {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    color: #fff;
  }
  #toggler:checked ~ .menu {
    max-height: 100%;
  }
  .info {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .info iframe {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .ubicacion {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

/* ==========FIN RESPONSIVE========== */
/*//////////// NOSOTROS//////////// */
#nosotros h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

/* ==========FIN DE NOSOTROS======== */
/* //////////////////FOOTER///////////////// */
.footer {
  position: absolute;
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100px;
  background: black;
  background: -webkit-gradient(linear, left top, right top, color-stop(9%, black), color-stop(37%, #5b0f22), color-stop(65%, #010506));
  background: linear-gradient(90deg, black 9%, #5b0f22 37%, #010506 65%);
  text-align: center;
  padding: auto;
}

.footer h4 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: whitesmoke;
  font-size: 10px;
  text-transform: uppercase;
}

/* ============FIN DE FOOTER=========== */
/* /////////////// REDES /////////////// */
.redes-container {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: float 5s ease-in-out infinite;
          animation: float 5s ease-in-out infinite;
}

.redes-container ul li a {
  display: block;
  padding: 0 10px;
  background-color: black;
  color: whitesmoke;
  line-height: 20px;
  font-size: 22px;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 10%;
}

.redes-container ul:hover a {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.redes-container ul li a:hover {
  -webkit-transform: translateY(-3px) scale(1.05);
          transform: translateY(-3px) scale(1.05);
  -webkit-filter: none;
          filter: none;
}

.redes-container ul li .maps:hover {
  background-color: #990303;
}

.redes-container ul li .facebook:hover {
  background-color: #5858e3ef;
}

.redes-container ul li .twitter:hover {
  background-color: whitesmoke;
  color: #00b9ff;
}

.redes-container ul li .instagram:hover {
  background-color: #e4405f;
}

.redes-container ul li {
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.fa-brands fa-facebook {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.fa-brands fa-instagram {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.fa-brands fa-twitter {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.fa-solid fa-location-dot {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=style.css.map */